.fullAbout{
  background-color: #ffbf31;
  font-size: 1rem;
  text-align: center;
}
.ownersImg{
  width: 250px;
  box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 30%);
  margin: 5vw;
}
.desc {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.desc_container {
  min-width: 20vw;
  text-align: center;
  transition: all 300ms;
}



.desc_p p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (min-width: 600px){
  .ownersImg{
    width: 340px;
  }
  .intro p{
    width: 30vw;
  }
  .desc{
    flex-direction: row;
  }
  .desc p{
    width: 30vw;
    margin: 40px auto 40px auto;
  }
  .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vw auto;
    width: 70vw;
  }

}
