header {
  /*background-color: #eeba0b;*/
  background-color: #7b0000;
  color: white;
  padding: 15px;
}

.header_logo {
  width: 50px;
  margin: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.h1_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  margin-bottom: 0;
}
.nav_a {
  text-align: center;
  padding: 15px 0 15px 0;
  transition: all 500ms;
  margin: 0;
  min-width: 80vw;
}

.nav_a:hover {
  background-color: #1c5b97;
  scale: 1.06;
}
.a_container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
}

.a_container:hover {
  scale: 1.06; 
}

@media only screen and (min-width: 600px){
  ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .a_container {
    text-align: center;
  }
  .nav_a {
    min-width: 200px;
    margin: 5px;
    
  }
  .h1_img_container {
    margin: 0 0 0 100px;
    width: 200px;
  }
  .a_container h1 {
    width: 300px;
  }
}
