header {
  background-color: #7b0000;
  color: white;
  padding: 15px;
}
header h1{
  font-size: 1.6rem;
}

.header_logo {
  width: 50px;
  margin: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.h1_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav_a {
  text-align: center;
  padding: 15px;
  transition: all 500ms;
  margin: 0;
  min-width: 80vw;
}

nav{
  display: flex;
  flex-direction: column;
}
.nav_a:hover {
  background-color: #1c5b97;
}
.a_container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
}

.a_container:hover {
  scale: 1.06; 
}

@media only screen and (min-width: 600px){

  nav{
    display: flex;
    flex-direction: row;
    align-items: center; 
  }
  .nav_a{
    min-width: 10px;
    margin: 10px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  header h1{
    font-size: 2rem;
  }
  .a_container {
    text-align: center;
  }
  .h1_img_container {
  }
  .a_container h1 {
    width: 300px;
  }
}
